<style>
    :host {
        display: inline-block;
        font-size: var(--font-size-14, 14px);
        border-radius: var(--border-radius, .25em);
    }

    :host([block]) {
        display: block;
    }

    :host(:not([disabled]):not([type="primary"]):focus-within) .select,
    :host(:not([disabled]):not([type="primary"]):hover) .select {
        border-color: var(--theme-color, #307fe2);
        color: var(--theme-color, #307fe2);
    }

    :host([search]:focus-within:not([disabled])) .select,
    :host([search]:not([disabled]):hover) .select {
        color: var(--theme-color, #307fe2);
    }

    :host([disabled]) {
        pointer-events: none;
    }

    :host(:focus-within) awc-popover,
    :host(:active) awc-popover {
        z-index: 2;
    }

    awc-tooltip {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: inherit;
    }

    .select:not([type="primary"]) {
        display: flex;
        width: 100%;
        height: 100%;
        font-size: inherit;
        color: currentColor;
        border-radius: inherit;
    }

    :host([search]) .select {
        color: currentColor;
    }

    awc-tooltip[show=show] {
        --theme-color: var(--error-color, #f4615c);
        --border-color: var(--error-color, #f4615c);
    }

    :host([invalid]) .select:not([type="primary"]) {
        color: var(--error-color,#f4615c);
    }

    .select span {
        flex: 1;
        text-align: left;
    }

    awc-input::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        cursor: default;
        pointer-events: none;
    }

    .select[readonly]::after {
        pointer-events: all;
    }

    .arrow {
        position: relative;
        font-size: .9em;
        transform: scaleY(.8);
        margin-left: .5em;
        pointer-events: none;
        width: 1em;
        height: 1em;
        fill: currentColor;
        transition: .3s transform cubic-bezier(.645, .045, .355, 1);
    }

    :host([search]) .arrow {
        transition: color .3s cubic-bezier(.645, .045, .355, 1), .3s transform cubic-bezier(.645, .045, .355, 1);
    }

    awc-popover[open] .arrow {
        transform: scaleY(-.8);
    }

    awc-popover {
        display: block;
        height: inherit;
        border-radius: inherit;
    }

    awc-popbody {
        min-width: 100%;
        overflow: auto;
        max-height: 50vh;
        scroll-behavior: smooth;
    }

    :host([search]) awc-popbody::before {
        display: none;
        box-sizing: border-box;
        width: 100%;
        content: 'Did not match any options';
        padding: var(--em-25, .25em) var(--em-625, .625em);
        line-height: 1.8;
        color: var(--font-color, #333333);
        white-space: nowrap;
        opacity: .5;
    }

    :host([empty]) awc-popbody::before {
        display: block;
    }
</style>
<style id="filter"></style>
<awc-popover id="root">
    <awc-input id="selectInput" class="select" debounce="200" readonly>
        <svg class="arrow" viewBox="0 0 1024 1024">
            <path
                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3 0.1-12.7-6.4-12.7z">
            </path>
        </svg>
    </awc-input>
    <awc-button id="selectButton"  class="select" debounce="200" readonly>
        <span id="value"></span>
        <svg class="arrow" viewBox="0 0 1024 1024">
            <path
                d="M884 256h-75c-5.1 0-9.9 2.5-12.9 6.6L512 654.2 227.9 262.6c-3-4.1-7.8-6.6-12.9-6.6h-75c-6.5 0-10.3 7.4-6.5 12.7l352.6 486.1c12.8 17.6 39 17.6 51.7 0l352.6-486.1c3.9-5.3 0.1-12.7-6.4-12.7z">
            </path>
        </svg>
    </awc-button>
    <awc-popbody id="options">
        <slot id="slot"></slot>
    </awc-popbody>
</awc-popover>