
:root {
    --theme-color: var(--color-brand-primary-base, #307fe2);
    --border-color: rgba(0, 0, 0, .2);
    --font-color: #333333;
    --border-radius: 0.25em;
    --box-shadow: rgba(0, 0, 0, 0.15);
    --disabled-color: rgba(0, 0, 0, .1);
    --gray-color: #EEE;
    --success-color: #52c41a;
    --error-color: #f4615c;
    --waring-color: #faad14;
    --info-color: #1890ff;
    --em-125: .125em;
    --em-25: .25em;
    --em-50: .5em;
    --em-625: .625em;
    --placeholder-color: #999;
    --font-size-14: 14px;
    --color-white: #FFF;
    --min-width: 20em;
    --min-height: 300px;
    --hover-background-gray: #efefef;
    --hover-item-color: #e8f2ff;
}