<style>
    :host {
        display: inline-block;
        font-size: 14px;
        color: var(--font-color, #333333);
        -webkit-tap-highlight-color: transparent;
    }

    :host([disabled]) {
        pointer-events: none;
        opacity: .6;
    }

    :host([disabled]) label {
        pointer-events: all;
        cursor: not-allowed;
    }

    #checkbox {
        position: absolute;
        clip: rect(0, 0, 0, 0);
    }

    :host(:focus-within) .cheked,
    :host(:not([disabled])) label:hover .cheked {
        border-color: var(--theme-color, #307fe2);
        z-index: 1;
    }

    :host(:focus-within) #checkbox,
    :host(:active) #checkbox {
        z-index: 2
    }

    :host([disabled]) .cheked {
        background: var(--disabled-color, rgba(0, 0, 0, .1));
    }

    label {
        box-sizing: border-box;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    .cheked {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: var(--em-50, .5em);
        position: relative;
        width: 1em;
        height: 1em;
        border: 1px solid var(--border-color, rgba(0, 0, 0, .2));
        border-radius: var(--em-125, .125em);
        text-align: initial;
        transition: .3s;
    }

    :host(:empty) .cheked {
        margin-right: 0;
    }

    .cheked::before {
        position: absolute;
        content: '';
        width: 74%;
        height: var(--em-125, .125em);
        background: var(--color-white, #FFF);
        transform: scale(0);
        border-radius: var(--em-125, .125em);
        transition: .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    }

    .cheked::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background: var(--theme-color, #307fe2);
        border-radius: 50%;
        opacity: .2;
        transform: scale(0);
        z-index: -1;
        transition: .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    }
    .icon {
        width: 100%;
        height: 100%;
        transform: scale(0);
        transition: .2s cubic-bezier(.12, .4, .29, 1.46) .1s;
    }

    #checkbox:focus-visible+label .cheked::after {
        transform: scale(2.5);
    }

    #checkbox:checked:not(:indeterminate)+label .cheked .icon {
        transform: scale(1.5);
    }

    #checkbox:checked+label .cheked,
    #checkbox:indeterminate+label .cheked {
        border-color: transparent;
        background-color: var(--theme-color, #307fe2);
    }

    #checkbox:indeterminate+label .cheked::before {
        transform: scale(1);
    }
</style>
<input type="checkbox" id="checkbox">
<label for="checkbox">
    <span class="cheked"><svg class="icon" style="fill: #fff;overflow: hidden;" viewBox="0 0 1024 1024"
            version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1408">
            <path
                d="M700.7232 331.008l73.984 70.7584-329.5744 344.7808-192.6656-190.1056 71.936-72.9088L443.0336 600.576z">
            </path>
        </svg></span>
    <slot></slot>
</label>