<style>
    :host {
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: .3s;
        z-index: 10;
    }

    :host([show]) {
        opacity: 1;
        visibility: visible;
    }

    .message {
        margin: auto;
        display: flex;
        padding: 10px 15px;
        margin-top: 10px;
        align-items: center;
        font-size: 14px;
        color: var(--font-color, #333333);
        background: var(--color-white, #FFF);
        border-radius: 3px;
        transform: translateY(-100%);
        transition: .3s transform cubic-bezier(.645, .045, .355, 1);
        box-shadow: 0 4px 12px var(--box-shadow, rgba(0, 0, 0, .3));
        pointer-events: all;
    }

    :host([show]) .message {
        transform: translateY(0);
    }

    .message>* {
        margin-right: 5px;
    }

    awc-loading {
        display: none;
    }

    :host([show][type="loading"]) awc-loading {
        display: block;
    }

    :host([show][type="loading"]) awc-icon {
        display: none;
    }

    :host awc-icon {
        color: var(--theme-color, #307fe2);
    }
</style>
<div class="message">
    <awc-icon id="message-icon" class="message-icon" size="16"></awc-icon>
    <awc-loading></awc-loading>
    <slot></slot>
</div>