<style>
    :host {
        position: absolute;
        display: flex;
        box-shadow: 2px 2px 15px var(--boxShadow, rgba(0, 0, 0, 0.15));
        box-sizing: border-box;
        transform: scale(0);
        opacity: 0.5;
        border-radius: 3px;
        z-index: 10;
        transition: .3s cubic-bezier(.645, .045, .355, 1);
        transform-origin: inherit;
        background: #fff;
        visibility: hidden;
    }

    .popbody-content {
        box-sizing: border-box;
        display: flex;
        width: max-content;
        padding: 0 15px;
        flex: 1;
        flex-direction: column;
    }

    .popbody-title {
        line-height: 30px;
        padding: 15px 30px 0 0;
        font-weight: 700;
        font-size: 14px;
        color: #4c5161;
        user-select: none;
        cursor: default;
    }

    .popbody-body {
        flex: 1;
        padding: 5px 0 15px 0;
    }

    .popbody-footer {
        padding: 3px 0 15px 0;
        margin-top: -3px;
        text-align: right;
        white-space: nowrap;
    }

    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0;
    }

    .popbody-footer awc-button {
        font-size: .8em;
        margin-left: .8em;
    }

    .popbody-type {
        display: flex;
        width: 30px;
        height: 30px;
        font-size: 22px;
        margin: 15px -10px 0 15px;
    }

    :host([type="confirm"]) {
        min-width: 250px;
    }

    :host([type="confirm"]) .popbody-body {
        font-size: 14px;
    }

    :host(:not([type])) .popbody-content,
    :host(:not([type])) .popbody-body {
        padding: 0;
    }
</style>