<style>
    :host {
        position: relative;
        display: inline-flex;
        padding: var(--em-25) var(--em-625);
        box-sizing: border-box;
        vertical-align: middle;
        line-height: 1.8;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--borderColor, rgba(0, 0, 0, .2));
        font-size: var(--fontSize14);
        color: var(--fontColor, #333333);
        border-radius: var(--borderRadius, .25em);
        transition: background .3s, box-shadow .3s, border-color .3s, color .3s;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
    }


    :host([disabled]),
    :host([loading]) {
        pointer-events: none;
        opacity: .6;
    }

    :host([block]) {
        display: flex;
    }

    :host([disabled]:not([type])) {
        background: var(--disabledColor);
        border: none;
    }

    :host([disabled]) .btn,
    :host([loading]) .btn {
        cursor: not-allowed;
        pointer-events: all;
    }

    :host(:not([type="primary"]):not([disabled]):hover),
    :host(:not([type="primary"]):focus-within),
    :host([type="text"][focus]) {
        color: var(--themeColor);
        border-color: var(--themeColor);
    }

    :host(:not([type="primary"])) .btn::after {
        background-image: radial-gradient(circle, var(--themeColor) 10%, transparent 10.01%);
    }

    :host([type="primary"]) {
        color: var(--colorWhite);
        background: var(--themeColor);
    }

    :host([type="dashed"]) {
        border-style: dashed;
    }

    :host([type="text"]),
    :host([type="primary"]) {
        border: 0;
        padding: calc(var(--em-25) + 1px) calc(var(--em-625) + 1px);
    }

    :host([type="text"]) .btn::before {
        content: '';
        position: absolute;
        pointer-events: none;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transition: .3s;
    }

    :host([type="text"]:not([disabled]):hover) .btn::before {
        opacity: .1
    }

    :host(:not([disabled]):hover) {
        z-index: 1
    }

    :host([type="text"]:focus-within) .btn:before,
    :host([type="text"][focus]) .btn:before {
        opacity: .2;
    }

    .btn {
        background: none;
        outline: 0;
        border: 0;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        padding: 0;
        user-select: none;
        cursor: unset;
    }

    awc-loading {
        margin-right: var(--em-25);
    }

    ::-moz-focus-inner {
        border: 0;
    }

    .btn:not([disabled]):active::after {
        transform: translate(-50%, -50%) scale(0);
        opacity: .3;
        transition: 0s;
    }

    awc-icon {
        margin-right: var(--em-25);
        transition: none;
    }

    :host(:empty) awc-icon {
        margin: auto;
    }

    :host(:empty) {
        padding: var(--em-625);
    }

    :host([type="text"]:empty),
    :host([type="primary"]:empty) {
        padding: calc(var(--em-625)+ 1px);
    }

    ::slotted(awc-icon) {
        transition: none;
    }

    :host([href]) {
        cursor: pointer;
    }
</style>
<button class="btn" id="btn"></button>
<slot></slot>