<style>
    :host {
        position: fixed;
        display: flex;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        background: var(--shadowBackground, rgba(0, 0, 0, .3));
        visibility: hidden;
        opacity: 0;
        transition: .3s;
    }

    :host([open]) {
        opacity: 1;
        z-index: 50;
        visibility: visible;
    }

    .dialog {
        display: flex;
        position: relative;
        min-width: 360px;
        margin: auto;
        box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        max-width: calc(100vw - 20px);
        max-height: calc(100vh - 20px);
        border-radius: 3px;
        background-color: #fff;
        opacity: 0;
        transform: scale(0.5);
        transition: .3s cubic-bezier(.645, .045, .355, 1);
    }

    .dialog-content {
        box-sizing: border-box;
        display: flex;
        width: 100%;
        padding: 0 20px;
        flex: 1;
        flex-direction: column;
    }

    :host([open]) .dialog {
        opacity: 1;
        transform: scale(1);
    }

    .dialog-title {
        line-height: 30px;
        padding: 15px 30px 0 0;
        font-weight: 700;
        font-size: 14px;
        color: #4c5161;
        user-select: none;
        cursor: default;
    }

    .dialog-body {
        flex: 1;
        overflow: auto;
        min-height: 50px;
        padding: 10px 0;
    }

    .dialog-footer {
        padding: 3px 0 20px 0;
        margin-top: -3px;
        text-align: right;
    }

    .btn-close {
        position: absolute;
        right: 10px;
        top: 10px;
        border: 0;
    }

    .dialog-footer awc-button {
        margin-left: 10px;
    }

    .dialog-icon {
        display: none;
        margin: 15px -10px 0 20px;
        width: 30px;
        height: 30px;
        font-size: 24px;
    }

    .dialog-icon[path] {
        display: flex;
    }

    #btn-cancel {
        visibility: hidden;
    }

    :host(:not([type])) .dialog-icon {
        display: none;
    }

    :host([type="confirm"]) #btn-cancel {
        visibility: visible;
    }

    :host(:empty) .dialog-body {
        min-height: 0;
    }
</style>
<div class="dialog">
    <awc-icon id="dialog-icon" class="dialog-icon"></awc-icon>
    <div class="dialog-content">
        <div class="dialog-title" id="title"></div>
        <awc-icon class="btn-close" id="btn-close" path="M563.8 512l262.5-312.9c4.4-5.2 0.7-13.1-6.1-13.1h-79.8c-4.7 0-9.2 2.1-12.3 5.7L511.6 449.8 295.1 191.7c-3-3.6-7.5-5.7-12.3-5.7H203c-6.8 0-10.5 7.9-6.1 13.1L459.4 512 196.9 824.9c-4.4 5.2-0.7 13.1 6.1 13.1h79.8c4.7 0 9.2-2.1 12.3-5.7l216.5-258.1 216.5 258.1c3 3.6 7.5 5.7 12.3 5.7h79.8c6.8 0 10.5-7.9 6.1-13.1L563.8 512z"></awc-icon>
        <div class="dialog-body">
            <slot></slot>
        </div>
        <div class="dialog-footer">
            <awc-button id="btn-cancel"></awc-button>
            <awc-button id="btn-submit" type="primary"></awc-button>
        </div>
    </div>
</div>