<style>
    :host {
        box-sizing: border-box;
        display: flex;
        padding: 0 5px;
    }

    :host([vertical]) {
        height: 300px;
    }

    :host([disabled]) {
        opacity: .8;
        --themeColor: #999;
        cursor: not-allowed;
    }

    :host([disabled]) input[type="range"] {
        pointer-events: none;
    }

    #slider-tooltip {
        display: flex;
        padding: 5px 0;
        width: 100%;
        margin: auto;
    }

    ::-moz-focus-inner,
    ::-moz-focus-outer {
        border: 0;
        outline: 0;
    }

    :host([showtips]) {
        pointer-events: all;
    }

    input[type="range"] {
        pointer-events: all;
        margin: 0 -5px;
        width: calc(100% + 10px);
        -webkit-appearance: none;
        outline: 0;
        height: 12px;
        background: none;
        border-radius: 2px;
    }

    input[type="range"]::-webkit-slider-runnable-track {
        display: flex;
        align-items: center;
        position: relative;
        height: 2px;
        border-radius: 2px;
        background: linear-gradient(to right, var(--themeColor, #307fe2) calc(100% * var(--percent)), var(--disabledColor) 0%)
    }

    input[type="range"]::-moz-range-progress {
        display: flex;
        align-items: center;
        position: relative;
        height: 2px;
        border-radius: 2px;
        outline: 0;
        background: var(--themeColor, #307fe2)
    }

    input[type="range"]::-moz-range-track {
        height: 2px;
        background: var(--disabledColor);
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: 2px solid var(--themeColor, #307fe2);
        position: relative;
        margin-top: -4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--themeColor, #307fe2);
        transition: .2s cubic-bezier(.12, .4, .29, 1.46);
    }

    input[type="range"]::-moz-range-thumb {
        box-sizing: border-box;
        pointer-events: none;
        border: 2px solid var(--themeColor, #307fe2);
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: var(--themeColor, #307fe2);
        transition: .2s cubic-bezier(.12, .4, .29, 1.46);
    }

    input[type="range"]:focus {
        z-index: 2;
    }

    input[type="range"]::-webkit-slider-thumb:active,
    input[type="range"]:focus::-webkit-slider-thumb {
        transform: scale(1.2);
        box-shadow: 0 0 10px var(--boxShadow);
        background: var(--colorWhite);
    }

    input[type="range"]::-moz-range-thumb:active,
    input[type="range"]:focus::-moz-range-thumb {
        transform: scale(1.2);
        box-shadow: 0 0 10px var(--boxShadow);
        background: var(--colorWhite);
    }

    :host([vertical]) #slider-tooltip {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(-90deg);
        width: calc(var(--h, 300px) - 10px)
    }

    :host([vertical]) #slider-tooltip::before {
        writing-mode: vertical-lr;
        padding: 10px 6px;
    }

    :host([vertical]) {
        display: inline-flex;
        position: relative;
        width: 20px;
    }

    :host([vertical]) awc-tooltip::before,
    :host([vertical]) awc-tooltip::after {
        left: calc(var(--percent, .5) * 100% + 5px);
    }

    :host(:focus-within) #slider-tooltip,
    :host(:hover) #slider-tooltip {
        z-index: 10
    }
</style>
<awc-tooltip id='slider-tooltip'>
    <input id='slider'  type='range' />
</awc-tooltip>