<style>
    :host {
        box-sizing: border-box;
        display: inline-block;
        border: 1px solid var(--borderColor, rgba(0, 0, 0, .2));
        border-radius: var(--borderRadius, .25em);
        line-height: 1.8;
        transition: border-color .3s, box-shadow .3s;
        padding: .25em .625em;
        color: var(--fontColor, #333);
        font-size: 14px;
    }

    :host([block]) {
        display: block
    }

    awc-tooltip[show=show] {
        color: var(--errorColor, #f4615c);
    }

    :host([invalid]) {
        --themeColor: var(--errorColor, #f4615c);
        border-color: var(--errorColor, #f4615c);
    }

    :host([invalid]) awc-icon {
        color: var(--errorColor, #f4615c);
    }

    :host(:focus-within:not([disabled])),
    :host(:not([disabled]):hover) {
        border-color: var(--themeColor);
    }

    :host([disabled]) {
        opacity: .8;
        cursor: not-allowed;
    }

    :host([disabled]) awc-tooltip {
        pointer-events: none;
        background: rgba(0, 0, 0, .1);
    }

    :host([label]) .input::placeholder {
        color: transparent;
    }

    :host .input::placeholder {
        color: var(--placeholder-color);
    }

    :host(awc-textarea) {
        line-height: 1.5;
        padding-right: .25em;
    }

    awc-tooltip {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        margin: -.25em -.625em;
        padding: .25em .625em;
        font-family: inherit;
        transition: .3s background-color;
    }

    :host(awc-textarea) awc-tooltip {
        margin-right: -.25em;
        padding-right: .25em;
        align-items: flex-start;
    }

    .input {
        padding: 0;
        text-align: inherit;
        color: currentColor;
        border: 0;
        outline: 0;
        line-height: inherit;
        font-size: inherit;
        font-family: inherit;
        flex: 1;
        min-width: 0;
        -webkit-appearance: none;
        -moz-appearance: textfield;
        background: none;
        overflow-x: hidden;
        transition: color .3s;
        animation: removeBg 0s forwards;
    }

    :host(awc-textarea) .input {
        margin: 0;
    }

    input[type="number"]::-webkit-inner-spin-button {
        display: none;
    }

    ::-moz-focus-inner,
    ::-moz-focus-outer {
        border: 0;
        outline: 0;
    }

    :host([showtips]) {
        pointer-events: all;
    }

    .input-label {
        pointer-events: none;
        margin-left: -0.14em;
        position: absolute;
        transition: transform .3s, color .3s, background-color .3s;
        transform-origin: left;
        padding: 0 0.14em;
        color: var(--placeholder-color);
    }

    .input:not(:placeholder-shown)~.input-label,
    .input:focus~.input-label {
        transform: translateY(calc(-50% - 0.43em)) scale(0.8);
        background: var(--colorWhite);
    }

    .input:-moz-ui-invalid {
        box-shadow: none;
    }

    .input::-ms-reveal {
        display: none;
    }

    .icon-pre {
        display: flex;
        margin-right: 0.25em;
        color: var(--placeholder-color);
    }

    :host(awc-textarea) .icon-pre {
        height: 1.5em;
    }

    .btn-right {
        width: 2em;
        height: 2em;
        margin: -.25em -.5em -.25em .25em;
        padding: 0;
        color: var(--placeholder-color);
        font-size: inherit;
    }

    .btn-number {
        display: flex;
        flex-direction: column;
        width: 1.5em;
        visibility: hidden;
        transition: 0s;
    }

    .btn-number awc-button {
        display: flex;
        color: var(--placeholder-color);
        border-radius: 0;
        width: 100%;
        flex: 1;
        padding: 0;
        font-size: .8em;
        transition: .2s;
    }

    .btn-number awc-button:hover {
        flex: 1.5;
    }

    awc-button:not([disabled]):hover,
    awc-button:not([disabled]):focus-within {
        color: var(--themeColor, #307fe2);
    }

    :host(:focus-within:not([disabled])) .icon-pre,
    :host(:not([disabled]):hover) .icon-pre,
    :host(:not([disabled]):hover) .input-label,
    :host(:focus-within:not([disabled])) .input-label {
        color: var(--themeColor, #307fe2);
    }

    :host(:focus-within:not([disabled])) .btn-number,
    :host(:not([disabled]):hover) .btn-number {
        visibility: visible;
    }

    @keyframes removeBg {
        to {
            background: transparent;
        }
    }
</style>
<awc-tooltip id="input-tooltip" type="error">
    <!-- if multi is true, remove input, else remove textarea -->
    <textarea id="textarea" class="input" type="text"></textarea>
    <input id="input" class="input" />
    <slot></slot>
    <label class="input-label" id="input-label"></label>
     <!-- if type is not number, remove div. -->
    <div class="btn-right btn-number" id="btn-number"></div>
</awc-tooltip>